<!DOCTYPE html>
<html>
    <head>
        <title>Menu</title>
    </head>
    <body>
        <h1>Our Menu</h1>
        {% for item in menu_items %}
        <div style="margin-bottom: 30px;"
        {% if item.image %}
        <img src="{{item.image.url}}"alt="{{ item.name }}"style="width:200px; height:auto;">
        {% endif %}
        <h2>{{item.name}}</h2>
        <p>{{ item.description }}</p>
        <strong>${{ item.price }}</strong>
        <div>
            {% endfor %}
    </body>
</html>