<!DOCTYPE html>
<html>
    <head>
        <title> Menu </title>
    </head>
    <body>
        <h2>Our Menu</h2>
        <div>
            {% for item in items %}
            <div style="margin-bottom:20px;">
                <h3>{{ item.name }}</h3>
                <p>{{ item.description }}</p>
                <p><strong>Price:</strong> ${{ item.price }}</p>
                {% if item.image %}
                <image src="{{ item.image.url }}" alt="{{ item.name }}" width="200">
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </body>
</html>
